# Baseado no estilo LLVM
BasedOnStyle: LLVM

# Definições gerais de formatação
IndentWidth: 4              # 4 espaços para indentação
TabWidth: 4                 # Tabulação equivalente a 4 espaços
UseTab: Never               # Nunca usar tabulação, apenas espaços
ColumnLimit: 80             # Limite de 80 caracteres por linha
AlignConsecutiveAssignments: true  # Alinhar atribuições consecutivas
AlignConsecutiveDeclarations: true # Alinhar declarações consecutivas

# Formatação de funções
SpaceBeforeParens: ControlStatements  # Adicionar espaço antes de parênteses em controle (if, for, etc.)
AlwaysBreakAfterReturnType: All     # Quebrar a linha após o tipo de retorno da função

# Chaves de bloco
BraceWrapping:
  AfterFunction: true           # Colocar chaves na mesma linha das funções
  AfterControlStatement: true   # Colocar chaves na mesma linha de if, for, etc.

# Formatação de ponteiros
PointerAlignment: Left  # Colocar o asterisco do ponteiro à esquerda do tipo, por exemplo: `int* ptr;`
